{% extends "base.html" %}


{% block html %}
<style>
	.content-section {
	  background: #ffffff;
	  padding: 20px 40px;
	  border: 1px solid #dddddd;
	  border-radius: 3px;
	  margin-bottom: 20px;
	}
</style>
<div class="container-fluid">
	<div class="content-section">
	<form action="{{ url_for('users.register') }}" method="POST" name="register_user_form">
		{{ register_user_form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4"> Register Here! </legend>
				<div class="form-group">
					{{ register_user_form.username.label(class="form-control-label") }}

					{% if register_user_form.username.errors %}
						{{ register_user_form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in register_user_form.username.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ register_user_form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ register_user_form.email.label(class="form-control-label") }}
					{% if register_user_form.email.errors %}
						{{ register_user_form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in register_user_form.email.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ register_user_form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ register_user_form.password.label(class="form-control-label") }}
					{% if register_user_form.password.errors %}
						{{ register_user_form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in register_user_form.password.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ register_user_form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ register_user_form.confirm_password.label(class="form-control-label") }}
					{% if register_user_form.confirm_password.errors %}
						{{ register_user_form.confirm_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in register_user_form.confirm_password.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ register_user_form.confirm_password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
		<div class="form-group">
		{{ register_user_form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
		</small>
	</div>
</div>
</div>

{% endblock %}

